extends layout

block content
    h1 Receipts Processor Project

    div(id="receiptHolder" )

    a(href="/receipts/process" class="button") Create new receipt
    br
    br
    a(href="/receipts/" class="button") View receipts
        